Source: zstd-m68k-atari-mintelf
Section: devel
Priority: optional
Maintainer: Vincent Riviere <vincent.riviere@freesbee.fr>
Standards-Version: 4.6.2
Build-Depends:
 debhelper-compat (= 12),
 gcc-m68k-atari-mintelf,
Homepage: https://facebook.github.io/zstd/
Vcs-Browser: https://github.com/facebook/zstd
Vcs-Git: https://github.com/facebook/zstd.git
Rules-Requires-Root: no

Package: zstd-m68k-atari-mintelf
Architecture: all
Description: fast lossless compression algorithm
 This package is primarily for Atari MiNT developers and is
 not needed by normal users or developers.
