Source: gcc-m68k-atari-mintelf
Section: devel
Priority: optional
Maintainer: Vincent Riviere <vincent.riviere@freesbee.fr>
Standards-Version: 3.7.3
Build-Depends: dpkg-dev (>= 1.14.15), debhelper (>= 10),
 libc6-dev, m4, libtool, autoconf,
 libunwind7-dev (>= 0.98.5-6) [ia64], libatomic-ops-dev [ia64], zlib1g-dev,
 gawk, lzma, xz-utils, patchutils, gperf (>= 3.0.1), bison (>= 1:2.3),
 flex, gettext, texinfo (>= 4.3), libmpfr-dev (>= 2.4.2),
 locales [!m68k !knetbsd-i386 !knetbsd-alpha], procps, sharutils,
 binutils-spu (>= 2.20) [powerpc ppc64], newlib-spu (>= 1.16.0) [powerpc ppc64],
 dejagnu [!m68k !hurd-i386 !hurd-alpha], autogen,
 coreutils (>= 8.23-1~) | realpath (>= 1.9.12), chrpath, lsb-release, make (>= 3.81), quilt,
 binutils-m68k-atari-mintelf, libmpc-dev (>= 0.8),
 mintlib-m68k-atari-mintelf (>= 0.60.1.Git-20200504), libm-m68k-atari-mintelf
Homepage: http://gcc.gnu.org/

Package: gcc-m68k-atari-mintelf
Section: devel
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, binutils-m68k-atari-mintelf,
 mintlib-m68k-atari-mintielf (>= 0.60.1.Git-20200504), libm-m68k-atari-mintelf
Recommends: mintbin-m68k-atari-mintelf
Description: GCC cross-compiler for building Atari MiNT executables.
 This is the GNU Compiler Collection configured to cross-build Atari MiNT
 executables. This package is primarily for Atari MiNT developers and is
 not needed by normal users or developers.
