Source: expat-m68k-atari-mintelf
Section: devel
Priority: optional
Maintainer: Vincent Riviere <vincent.riviere@freesbee.fr>
Standards-Version: 4.6.2
Build-Depends:
 debhelper-compat (= 12),
 gcc-m68k-atari-mintelf,
Homepage: https://libexpat.github.io/
Vcs-Browser: https://github.com/libexpat/libexpat
Vcs-Git: https://github.com/libexpat/libexpat.git
Rules-Requires-Root: no

Package: expat-m68k-atari-mintelf
Architecture: all
Description: XML parsing C library
 This package is primarily for Atari MiNT developers and is
 not needed by normal users or developers.
