Source: fdlibm-m68k-atari-mintelf
Section: devel
Priority: optional
Maintainer: Vincent Riviere <vincent.riviere@freesbee.fr>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 10),
 gcc-m68k-atari-mintelf
Homepage: https://github.com/freemint/fdlibm

Package: fdlibm-m68k-atari-mintelf
Provides: libm-m68k-atari-mintelf
Section: devel
Architecture: all
Priority: optional
Depends: libc-m68k-atari-mintelf
Description: FDLIBM, a free math library for Atari MiNT.
 This package is primarily for Atari MiNT developers and is
 not needed by normal users or developers.
