Source: zzzfake
Section: devel
Priority: optional
Maintainer: Vincent Riviere <vincent.riviere@freesbee.fr>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 10)

Package: zzzfake
Section: devel
Architecture: all
Priority: optional
Provides: libc-m68k-atari-mintelf, libm-m68k-atari-mintelf
Description: Atari MiNT ELF cross-compiler tools.
 This package depends on all the essential tools
 to cross-build Atari MiNT software.
